* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/public/assets/home-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

/* nav bar */

.logo {
    font-size: 30px;
    font-weight: 300;
    margin-right: 400px;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px;
}

.navbar .container ul {
    display: flex;
    font-size: 16px;
    list-style-type: none;
}

.navbar .container ul li a {
   margin-left: 50px;
   color: white;
   text-decoration: none;
}

.navbar .container ul li a:hover {
    color: aqua;
}

#log-in {
    border: none;
    padding: 10px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 300;
    background-color: #27262d8c;
    color: white;
}

/* main */

main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

main img {
    filter: drop-shadow(30px 10px 4px #8760b4);
}

h2 {
    font-weight: 300;
    font-size: 60px;
    color: black;
    text-shadow: 1px 1px 2px rgb(100, 98, 98);
}
/* Learn More Page */
#section-one {
    padding: 20px;  
    color: black;
}

#section-one p {
    padding-bottom: 20px;
    font-size: 18px;
}

#section-one #what-is-moodscape, #section-one #how-it-works {
    font-size: 60px;
    text-shadow: none;
    padding-bottom: 20px;
}

#how-it-works {
    padding-top: 20px;
}

#section-two {
    padding: 20px;  
    color: black;
}

#section-two h3 {
    color: black;
    font-size: 30px;
}

#section-two {
    display: flex;
}

/* footer */

footer {
    height: 150px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

footer .footer-logo .logo {
    margin-bottom: 8px;
}

footer .footer-logo a {
    margin-left:  24px;
    color: #f372ff93;
}

.disclaimer {
    padding-bottom: 15px;
    font-weight: 300;
}



